@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto+Condensed&family=Ubuntu&display=swap');

body{
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
}

.navbar-brand{
     font-family: 'Pacifico';
     font-size: 35px;
     color: lightcoral !important;
}

.nav-link{
    font-size: 16px;
    margin: 15px;
    color:black !important;
    font-family: 'Roboto Condensed';
}